<div class="columns is-gapless is-multiline" style="">
    <aside class="column is-one-quarter" id="room-status">
        <div class="main">
            <div class="title"><span class="icon"><i class="fa fa-bar-chart"></i></span>STATS</div>
            <p>User count:</p>
            <p>Room count:</p>
        </div>
        <div class="main">
            <div class="title"><span class="icon"><i class="fa fa-star"></i></span>PUBLIC ROOMS</div>
            <a class="item active">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
        </div>
        <div class="main">
            <div class="title">
                <span class="icon"><i class="fa fa-comments">
                     	</i>
               		</span> MY ROOMS
            </div>
            <span class="columns active-chat-link">
	         		<span class="column is-11 chat-link">
			            <span class="title-icon">
			              	<i class="fa fa-comment"></i>
			            </span>
            <span class="name">
			        		12312312321
				            <p class="active-room-info">
				                Users: 123333
				                <br>
				                Messages: 333333333
				            </p>     		
			            </span>
            </span>
            <span class=" leave-chat-cta icon  column is-1">
	             		<i class="fa fa-times-circle" aria-hidden="true"></i>
	          		</span>
            </span>
            <span class="columns active-chat-link">
	         		<span class="column is-11 chat-link">
			            <span class="title-icon">
			              	<i class="fa fa-comment"></i>
			            </span>
            <span class="name">
			        		12312312321
				            <p class="active-room-info">
				                Users: 123333
				                <br>
				                Messages: 333333333
				            </p>     		
			            </span>
            </span>
            <span class=" leave-chat-cta icon  column is-1">
	             		<i class="fa fa-times-circle" aria-hidden="true"></i>
	          		</span>
            </span>
            <span class="columns active-chat-link">
	         		<span class="column is-11 chat-link">
			            <span class="title-icon">
			              	<i class="fa fa-comment"></i>
			            </span>
            <span class="name">
			        		12312312321
				            <p class="active-room-info">
				                Users: 123333
				                <br>
				                Messages: 333333333
				            </p>     		
			            </span>
            </span>
            <span class=" leave-chat-cta icon  column is-1">
	             		<i class="fa fa-times-circle" aria-hidden="true"></i>
	          		</span>
            </span>
            <span class="columns active-chat-link">
	         		<span class="column is-11 chat-link">
			            <span class="title-icon">
			              	<i class="fa fa-comment"></i>
			            </span>
            <span class="name">
			        		12312312321
				            <p class="active-room-info">
				                Users: 123333
				                <br>
				                Messages: 333333333
				            </p>     		
			            </span>
            </span>
            <span class=" leave-chat-cta icon  column is-1">
	             		<i class="fa fa-times-circle" aria-hidden="true"></i>
	          		</span>
            </span>
            <span class="columns active-chat-link">
	         		<span class="column is-11 chat-link">
			            <span class="title-icon">
			              	<i class="fa fa-comment"></i>
			            </span>
            <span class="name">
			        		12312312321
				            <p class="active-room-info">
				                Users: 123333
				                <br>
				                Messages: 333333333
				            </p>     		
			            </span>
            </span>
            <span class=" leave-chat-cta icon  column is-1">
	             		<i class="fa fa-times-circle" aria-hidden="true"></i>
	          		</span>
            </span>
            <span class="columns active-chat-link">
	         		<span class="column is-11 chat-link">
			            <span class="title-icon">
			              	<i class="fa fa-comment"></i>
			            </span>
            <span class="name">
			        		12312312321
				            <p class="active-room-info">
				                Users: 123333
				                <br>
				                Messages: 333333333
				            </p>     		
			            </span>
            </span>
            <span class=" leave-chat-cta icon  column is-1">
	             		<i class="fa fa-times-circle" aria-hidden="true"></i>
	          		</span>
            </span>
            <span class="columns active-chat-link">
	         		<span class="column is-11 chat-link">
			            <span class="title-icon">
			              	<i class="fa fa-comment"></i>
			            </span>
            <span class="name">
			        		12312312321
				            <p class="active-room-info">
				                Users: 123333
				                <br>
				                Messages: 333333333
				            </p>     		
			            </span>
            </span>
            <span class=" leave-chat-cta icon  column is-1">
	             		<i class="fa fa-times-circle" aria-hidden="true"></i>
	          		</span>
            </span>
            <span class="columns active-chat-link">
	         		<span class="column is-11 chat-link">
			            <span class="title-icon">
			              	<i class="fa fa-comment"></i>
			            </span>
            <span class="name">
			        		12312312321
				            <p class="active-room-info">
				                Users: 123333
				                <br>
				                Messages: 333333333
				            </p>     		
			            </span>
            </span>
            <span class=" leave-chat-cta icon  column is-1">
	             		<i class="fa fa-times-circle" aria-hidden="true"></i>
	          		</span>
            </span>
            <span class="columns active-chat-link">
	         		<span class="column is-11 chat-link">
			            <span class="title-icon">
			              	<i class="fa fa-comment"></i>
			            </span>
            <span class="name">
			        		12312312321
				            <p class="active-room-info">
				                Users: 123333
				                <br>
				                Messages: 333333333
				            </p>     		
			            </span>
            </span>
            <span class=" leave-chat-cta icon  column is-1">
	             		<i class="fa fa-times-circle" aria-hidden="true"></i>
	          		</span>
            </span>
            <span class="columns active-chat-link">
	         		<span class="column is-11 chat-link">
			            <span class="title-icon">
			              	<i class="fa fa-comment"></i>
			            </span>
            <span class="name">
			        		12312312321
				            <p class="active-room-info">
				                Users: 123333
				                <br>
				                Messages: 333333333
				            </p>     		
			            </span>
            </span>
            <span class=" leave-chat-cta icon  column is-1">
	             		<i class="fa fa-times-circle" aria-hidden="true"></i>
	          		</span>
            </span>
            <span class="columns active-chat-link">
	         		<span class="column is-11 chat-link">
			            <span class="title-icon">
			              	<i class="fa fa-comment"></i>
			            </span>
            <span class="name">
			        		12312312321
				            <p class="active-room-info">
				                Users: 123333
				                <br>
				                Messages: 333333333
				            </p>     		
			            </span>
            </span>
            <span class=" leave-chat-cta icon  column is-1">
	             		<i class="fa fa-times-circle" aria-hidden="true"></i>
	          		</span>
            </span>
            <span class="columns active-chat-link">
	         		<span class="column is-11 chat-link">
			            <span class="title-icon">
			              	<i class="fa fa-comment"></i>
			            </span>
            <span class="name">
			        		12312312321
				            <p class="active-room-info">
				                Users: 123333
				                <br>
				                Messages: 333333333
				            </p>     		
			            </span>
            </span>
            <span class=" leave-chat-cta icon  column is-1">
	             		<i class="fa fa-times-circle" aria-hidden="true"></i>
	          		</span>
            </span>
        </div>
    </aside>
    <aside class="main column chat-wrapper">
        <div class="msg-list" #list [scrollTop]="list.scrollHeight">
            <div style="margin-bottom: 10px; overflow: hidden;" *ngFor="let m of messageList">
                <div class="chat-bubble me">
                    <p><b>infamouSs</b>: {{m}} </p>
                </div>
            </div>
        </div>
        <div class="chat-bar" id="message-bar" >
            <div>
                <input class="input" type='text' id="input-message" 
                [(ngModel)]="currentMessage" 
                (keyup.enter)="clicked(event)">
            </div>
        </div>
    </aside>
    <aside class="column is-one-quarter" id="list-friends">
        <div class="main">
            <div class="title"><span class="icon"><i class="fa fa-star"></i></span>USERS</div>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">1233333</span>
        		</a>
            <a class="item">
		          <span class="icon"><i class="fa fa-comment"></i></span>
		          <span class="name">21321321321</span>
        		</a>
        </div>
    </aside>
</div>
